@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body{
    font-family: 'Kanit', sans-serif;
    background-color: #FFAA00;
    overflow-x: hidden;
}

#error_login{
    text-decoration: red;
}