@import url('https://fonts.googleapis.com/css?family=Kanit:400,700&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    background-color: #f3f3f3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../medias/gym.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form {
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    background-color: #fff;
}

form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="radio"] {
    margin-right: 5px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

#activate_signuperr {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}


a {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
}

